/*********************************************** Body part */
body, header, footer {
    margin: 0;
    padding: 0;
}

/*********************************************** Header part */
header {
    background-color: black;
    color: peru;
    overflow: auto;
}

header img {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 65px;
}

header h1 {
    text-align: center;
    width: 100%;
}

/* Menu part */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

li {
    float: left;
}

.right_menu {
    float: right
}

li button {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    background-color: inherit;
    border: none;
    width: 100%;
}

li button:hover {
    background-color: darkolivegreen;
}

/*********************************************** Main part */
#main-screen {
    height: 100%;
    display: block;
    padding: 0;
}

.main-articles {
    margin: 5px;
    padding: 5px 5px;
}

article {
    padding: 5px;
}

/* Slideshow container */
.carousel {
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
    background-color: black;
    display: block;
}

.carousel_pic {
    display: none;
}

.carousel_pic img {
    width: auto;
    height: 500px;
    object-fit: fill;
    display: block;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    position: absolute;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: darkslategrey;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
    .prev, .next {
        font-size: 11px
    }

    .carousel_pic img {
        width: auto;
        height: 200px;
        display: block;
        margin: auto;
    }

    li, .right_menu {
        float: none;
    }
}


/*********************************************** Footer */
footer {
    color: white;
    padding: 15px;
    background-color: black;

}


